<template>
  <div class="hello">

    <h1 :class="[nilai > 1 ? 'lulus' : 'tidakLulus']">Nilai : {{ nilai }}</h1>
      <h2 v-if="nilai > 1">Hebat</h2>
      <h2 v-else>Study More</h2>
      <div v-for="(soal, indexsoal) in questions">
        <h2>{{indexsoal+1}}) {{soal.deskripsi}} </h2>
        <div v-for="(pilihans, indexpilihan) in soal.pilihan">
          <input type="radio" @click="checkAnswer(indexsoal, indexpilihan)" :value="pilihans[0]" :name="indexsoal">
          <span v-text="pilihans[0]"></span>
        </div>
      </div>

      <h3>Jawaban Yang Benar : </h3>
      <ul>
        <li v-for="no_soal in jawabanBenar">No. {{ no_soal+1 }}</li>
      </ul>

  </div>
  
</template>

<script>


import SoalComponent from '@/components/soalcomponent'
export default {
    name:'Controlleroriginal',
    components:{
      SoalComponent
    },
    data() {
      return{
        nilai: 0,
        jawabanBenar : [],
        jawabanSalah : [],
        questions : [
          {
            deskripsi : "Siapa saya",
            pilihan : [
              ["Irga", true],
              ["Abang"],
              ["Ref"],
              ["Bob"]
            ]
          },
          {
            deskripsi : "Makanan Korea",
            pilihan : [
              ["Bubur"],
              ["Kacang"],
              ["Ijo",],
              ["Kimchi", true]
            ]
          },
          {
            deskripsi : "Negara dengan kulit hitam",
            pilihan : [
              ["Indo"],
              ["Malay"],
              ["Afrika", true],
              ["Europ"]
            ]
          },
          {
            deskripsi : "Club Sepak Bola",
            pilihan : [
              ["LA Lakers"],
              ["Patriots "],
              ["Arsenal", true],
              ["Cleveland Cavaliers"]
            ]
          }
        ]
      }
    },
    methods:{
      checkAnswer(indexsoal, indexpilihan) {
          if(this.questions[indexsoal].pilihan[indexpilihan][1]){
            if(this.jawabanBenar.indexOf(indexsoal)== -1){
              this.jawabanBenar.push(indexsoal);
            }
            if(this.jawabanSalah.indexOf(indexsoal)!= -1){
              this.jawabanSalah.splice(this.jawabanSalah.indexOf(indexsoal),1);
            }
          }else{
            if(this.jawabanBenar.indexOf(indexsoal)!= -1){
              this.jawabanBenar.splice(this.jawabanBenar.indexOf(indexsoal),1);
              this.jawabanSalah.push(indexsoal);
            }else if(this.jawabanSalah.indexOf(indexsoal)!= -1){

            }else{
              this.jawabanSalah.push(indexsoal);
            }
          }
          this.nilai = this.jawabanBenar.length;
        }
    }
}
</script>

<style scoped>
</style>
